<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if registered %}
        <h1>Thank you for registering!</h1>
        <h1 style="color: crimson;">Please, Activate You Account</h1>
        <a href="{% url 'index' %}"><h3>Home</h3></a>
      {% else %}
        <h1>Register Here</h1>
        <h3>Just fill out the form.</h3>
<form method="POST">
          {% csrf_token %}
          {{ user_info_form.as_p }}
          {{ user_form.as_p }}

          <input type="submit" name="" value="Register">
        </form>

      {% endif %}
</body>
</html>